* {
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
  font-family: Arial, sans-serif;
  padding: 0;
  margin:0;
}
/* header*/
header{
  position: relative;
  display: flex;
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  float: right;
  white-space: nowrap;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a{
  font-size: small;
  text-decoration: none;
  font-family: 'Seqoe UI', 'Roboto', Arial, sans-serif;
  color: #333;
}
header ul li a:hover{
  text-decoration: underline;
}
header ul li button{
  padding: 8px 14px;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 2px;
  outline: none;
  color: #fff;
  font-size: small;
  font-weight: bold;
  cursor: default;
}
/*advanced page header*/
.logo-header{
  height: 30px;
  width: auto;
}
#ad-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background: #f2f2f2;
  width: 100%;
}
/* main page*/
main{
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/*index and image page*/
.logoimage{
  width: auto;
  height: 92px;
  margin-bottom: 5px;
  text-align: center;
}
.searchform{
  display: block;
  width: 100%;
  position:relative;
  text-align: center;
  max-width: 584px;
}
.searchformborder{
  display: flex;
  width: 100%;
  border: 1px solid  #dfe1e5;
  border-radius: 24px;
  margin: 0 auto;
  height: 44px;
  z-index: 3;
  background: #fff;
}
.icon1{
padding: 15px 20px;
text-align: left;
align-items: center;
}
.icon2{
padding: 12px 10px;
text-align: right;
align-items: center;
}

input[type="search"]{
  border: none;
  width: 80%;
  background-color: transparent;
  cursor: text;
  text-align: start;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  outline: none;
  box-shadow: none;
}
input[type="submit"]{
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  margin: 25px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  color: #555;
  text-align: center;
  font-size: 14px;
}
input[type="submit"]:hover{
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8, #f1f1f1);
  color: #222;
}
div.languages{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin: 0 5px;
}
div.languages a{
  color: #1a0dab;
  text-decoration: none;
  padding: 0 3px;
}
div.languages a:hover{
  text-decoration: underline;
}
/*image page*/
.logo-text{
  position: relative;
  top: -20px;
  text-align: -webkit-center;
  left: 105px;
  color: #4285f4;
  font-size: 16px;
  white-space: nowrap;
}
.icon3{
  height: 44px;
  width: 44px;
  border: none;
  cursor: pointer;
  text-align: right;
  background: transparent;
  padding: 0;
  padding-top: 5px;
  padding-right: 10px;
  flex: 0 0 auto;
  outline: none;
}
.icon3:hover{
  border: none;
  outline: none;
}
/*advanced page*/
.ad-label-header{
  float: left;
  font: 20px Arial, sans-serif;
  color: #D93025;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  width: 95%;
  padding: 20px;
  padding-left: 35px;
  position:relative;
}
.form-container{
  width: 97%;
}
.form-table{
  display: block;
  width: 100%;
  vertical-align: baseline;
  font-size: 100%;
  padding-top: 30px;
}
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: table-cell;
}
.column1{
  display: table-cell;
  width: 14%;
  vertical-align: middle;
  margin: 0;
  margin-left: 10px;
  padding: 10px;
  font-size: 13px;
  color:#222;
  float: left;
  height: 10px;
}
.column2{
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  min-height: 5px;
  margin-bottom: 10px;
}
.column3{
  display: table-cell;
  width: 30%;
  vertical-align: middle;
  min-height: 5px;
}
.cell{
  border: 1px solid transparent;
  width: 48.5%;
}
.label1{
  padding-left: 20px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.description{
  font-size: 11px;
  font-family: monospace;
  color: #666;
  white-space: pre;
}
input[type="text"]{
  width: 100%;
  text-align: left;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 1px;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
  cursor: text;
  outline: none;
}
input[type="text"]:hover{
  border: 1px solid #4690fe;
}
.clo3-h{
  font-size: 13px;
  font-weight: 700;
  color: #777;
  vertical-align: middle;
}
.div-button{
margin: 40px;
float: right;
}
.ad-button{
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  outline: 0;
  min-width: 120px;
  color: #fff;
  padding: 8px 12px;
  margin: 10px 0;
}
.ad-button:hover{
  cursor: pointer;
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  border: 1px solid #2f5bb7;
}
hr{
  display: block;
  overflow: hidden;
  border-radius: 1px solid rgba(0,0,0,0.05);
  width: 100%;
  background-color: rgba(0,0,0,0.05);
}
/*footer*/
footer{
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #f2f2f2;
}

.footer-row1{
  display: flex;
  text-decoration: none;
  font-size: 14px;
  padding-left: 40px;
  color: #5f6368;
  border-top: 1px solid rgba(0,0,0,0.05);
  height:50px;
}
.footer-row2 {
  position:absolute;
  display: flex;
  background: #f2f2f2;
  justify-content:space-between;
  border-top: 1px solid rgba(0,0,0,0.05);
  width: 100%;
}
.footer-row2 ul{
  display: flex;
}
.footer-row2 ul li{
  text-decoration: none;
  list-style: none;
}
.footer-row2 ul li a{
  text-decoration: none;
  font-size: 14px;
  color: #5f6368;
  margin-right: 25px;

}
/*responsive web design*/
@media screen and (max-width:992px) {
  .row{
    flex-direction: column;
  }
  div.column1{
    width: 30%;
  }
  div.column2{
    width: 70%;
  }
  div.col3-h, div.column3{
    display: none;
  }
  .footer-row2{
    height: auto;
  }
  .footer-row1 .footer-row2{
    font-size: 2px;
    background: #f2f2f2;
  }
  .footer-row2, .footer-row2 ul{
    flex-direction: column;
  }

}
